.ProjectTile {
    .background {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media screen and (min-width: $lg) {
    .ProjectTile {
    }
}